<!-- STORY INFO -->
<div class="container" id="story-intro" style="overflow-x: hidden;">
  <div class="row">
    <div id="story-date">
        April 8, 2020
    </div>
  </div>
  <div class="row">
    <div class="ten columns">
      <h1 id="story-headline">Here's a nice long headline so we can test that</h1>
    </div>
  </div>
  <div class="row">
      <div id="story-byline">Journa List</div>
  </div>
</div>

<!-- LEAD IMAGE -->
<div class="ui-full-width">
    <img src="https://picsum.photos/1500/720" />
</div>
