<h2 style="margin-bottom: 2rem;">The Latest</h2><a name="main-content" aria-hidden="true"></a>

<!-- BEGIN STORIES -->
<!-- row 1 -->
<section class="row">
  <article class="one-third column">
    <a href="its-not-easy-being-a-black-man-on-the-autism-spectrum" aria-label="First person: It’s not easy being a Black man on the autism spectrum">
      <img src="assets/img/smith_1-alt.jpg" alt="Photograph of essay author Joseph Vernon Smith. He is a Black man standing with his arms crossed looking at the camera. He wears a face mask and a Giant Eagle staff t-shirt that says proud to be your neighbor."/>
      <div class="index-headline">
        First person: It’s not easy being a Black man on the autism spectrum
      </div>
      <div class="index-headline-border"></div>
      <div class="index-byline">Joseph Vernon Smith</div>
    </a>
  </article>
  <article class="one-third column">
    <a href="podcast-episode-five-sisters-walk-together-through-mental-phyiscal-disabilities" aria-label="Podcast episode 5: Sisters walk together through mental, physical disabilities">
      <img src="assets/img/sisters_1-alt.jpg" alt="Two Black women smile at the camera and stand side by side in a beauty studio. One wears a shirt that says 'humankind be kind' and the other's shirt says 'created with a purpose'."/>
      <div class="index-headline">
        Podcast episode 5: Sisters walk together through mental, physical disabilities
      </div>
      <div class="index-headline-border"></div>
    </a>
      <!-- <div class="index-byline">Francesca Dabecco</div> -->
  </article>
  <article class="one-third column">
    <a href="academias-narrow-gates-people-with-disabilities-should-not-be-deterred-from-higher-education" aria-label="First person: Academia’s narrow gates: People with disabilities should not be deterred from higher ed">
      <img src="assets/img/Dylan-alt.jpg" alt="Two Black women smile at the camera and stand side by side in a beauty studio. One wears a shirt that says 'humankind be kind' and the other's shirt says 'created with a purpose'."/>
      <div class="index-headline">
        First person: Academia’s narrow gates: People with disabilities should not be deterred from higher ed
      </div>
      <div class="index-headline-border"></div>
    </a>
      <div class="index-byline">Dylan Kapit</div>
  </article>
</section>

<div class="spacer" aria-hidden="true"></div>

<!-- row 2 -->
<!--
<section class="row">
  <article class="two-thirds column">
    <a href="despite-ada-exemption-pittsburgh-houses-of-worship-highlight-accessibility-efforts-and-shortfalls" aria-label="Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts—and remaining shortfalls">
      <img src="assets/img/worship_1.jpg" alt="Photograph of a catholic priest delivering a sermon. He's inside a church in front of his congregation. In the background, a woman interprets his sermon in American Sign Language along with him."/>
      <div class="index-headline">
        Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts—and remaining shortfalls
      </div>
      <div class="index-headline-border" style="width:25%"></div>
    </a>
      <div class="index-byline">Meg St-Esprit</div>
  </article>
  <article class="one-third column">
    <a href="podcast-episode-four-three-people-with-disabilities-talk-about-how-disability-affected-their-faith" aria-label="Podcast episode 4: Three people with disabilities talk about how disability affected their faith">
      <img src="assets/img/Kumar_Temple-alt.jpg" alt="Photograph of two Brown men stand with their arms around each other in front of a Hindu temple. Both are facing the camera. Puneet stands on the right with a big smile on his face."/>
      <div class="index-headline">
        Podcast episode 4: Three people with disabilities talk about how disability affected their faith
      </div>
      <div class="index-headline-border"></div> -->
      <!-- <div class="index-byline">Catherine Getchell</div> -->
    <!-- </a>
  </article>
</section> -->

<center style="margin-top: 1rem;">
    <a href="/stories" target="_blank" aria-label="more stories">
      <h2 class="more-stories">See more stories</h2>
    </a>
</center>
