<nav id="main-nav" class="row">

  <div class="four columns">
    <div id="ps-logo">
      <a href="https://www.publicsource.org/">
        <!-- logo link here -->
      </a>
    </div>
  </div>

    <div class="four columns">
      <div id="ada-logo">
        <a href="">
          <!-- ada logo here -->
        </a>
      </div>
    </div>

    <div class="four columns">
      <div id="main-links">
        <span>STORIES</span>
        <span><a href="https://www.publicsource.org/donate-to-publicsource/">DONATE</a></span>
      </div>
    </div>

</nav>
