<nav id="main-nav" class="ui-full-width">
  <div class="row">
    <div class="one-third column">
      <div id="ps-logo">
        <a href="https://www.publicsource.org/">
          <img src="https://via.placeholder.com/450x80?text=PUBLICSOURCE" />
        </a>
      </div>

      <!-- Mobile nav -->
      <div id="mobile-nav"><i class="fas fa-bars"></i></div>
      
    </div>

      <div class="one-third column">
        <div id="ada-logo">
          <a href="">
            <img src="https://via.placeholder.com/450x80?text=ADA:30" />
          </a>
        </div>
      </div>

    <div class="one-third column">
      <div id="main-links">
        <span><a href="">ABOUT</a></span>
        <span><a href="">STORIES</a></span>
        <span><a href="https://www.publicsource.org/donate-to-publicsource/">DONATE</a></span>
      </div>
    </div>
  <div>
</nav>
