<div class="one-third column">
  <img src="assets/img/Kumar_Temple.jpg" alt="Photograph of two Brown men stand with their arms around each other in front of a Hindu temple. Both are facing the camera. Puneet stands on the right with a big smile on his face."/>
  <div id="podcast-caption" style="width:100%;">Puneet Kumar (right), and his late father, visit the largest Hindu temple in North America, Radha Madhav Dham in Driftwood, Texas, in January 2017. Kumar tries to make sense of his muscular dystrophy diagnosis in light of his Hindu family’s belief in Karma. (Courtesy photo)</div>
</div>

<div class="two-thirds column" id="podcast-desc">
  <!-- PODCAST -->
  <section aria-label="podcast player">
    <iframe title="podcast player" style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15222950/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/3a59a9/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  </section>
  <div id="transcript-anchor"><a href="#transcript" aria-label="Jump to podcast transcript">
    <h3>Jump to podcast transcript</h3>
  </a></div>
  <p>
    <b>Subscribe on:</b> <a href="https://podcasts.apple.com/us/podcast/ada-at-30-accessibility-in-pittsburgh/id1522903903" target="_blank" aria-label="apple podcasts (opens in a new tab)">Apple Podcasts,</a>
    <a href="https://pca.st/cg90btkk" target="_blank" aria-label="pocket casts (opens in a new tab)">Pocket Casts,</a>
    <a href="https://radiopublic.com/ada-at-30-accessibility-in-pittsb-6LV45o" target="_blank" aria-label="RadioPublic (opens in a new tab)">RadioPublic,</a>
    <a href="https://adaat30.libsyn.com/rss" target="_blank" aria-label="RSS (opens in a new tab)">RSS,</a>
    <a href="https://open.spotify.com/show/4iEOcAoDNg8Mvo0MlHpR90" target="_blank" aria-label="Spotify (opens in a new tab)">Spotify,</a>
    <a href="https://www.stitcher.com/podcast/year-of-the-humanities/ada-at-30-accessibility-in-pittsburgh?refid=stpr" target="_blank" aria-label="Stitcher (opens in a new tab)">Stitcher</a>
  </p>

  <p>Religious traditions can offer mixed messages about disability. Just like for all believers, images and words from spiritual communities can provide encouragement, purpose and belonging. But sometimes disability adds baggage — blame, confusion and exclusion.</p>

  <p>In this podcast, two men share their understanding of their physical disabilities and higher powers. And a woman talks about how bipolar disorder led to her being a confirmed atheist. They share their stories in this episode of ADA at 30: Accessibility in Pittsburgh. This is a companion podcast to adapittsburgh.com, a collaboration between PublicSource and Unabridged Press.</p>
</div>
