<div class="one-third column">
  <img src="assets/img/jsjpick_crawl_org.jpg" alt="Black and white photograph of two disability rights activists. They are climbing the 83 steps up capitol hill. The photograph is shot from a low angle. In front, an activist is sitting and using their hands to push themself up the stairs backwards. In the background, another activist is crawling on his hands and knees."/>
  <div id="podcast-caption" style="width:100%;">More than 60 activists climbed the 83 steps of the U.S. Capitol March 12, 1990, to urge Congress to pass the Americans with Disabilities Act. (Used by permission. © Tom Olin – Tom Olin Collection.)</div>
</div>

<div class="two-thirds column" id="podcast-desc">
  <!-- PODCAST -->
  <section aria-label="podcast player">
    <iframe title="podcast player" style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15144992/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/3a59a9/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  </section>
  <div id="transcript-anchor"><a href="#transcript" aria-label="Jump to podcast transcript">
    <h3>Jump to podcast transcript</h3>
  </a></div>
  <p>
    <b>Subscribe on:</b> <a href="https://podcasts.apple.com/us/podcast/ada-at-30-accessibility-in-pittsburgh/id1522903903" target="_blank" aria-label="apple podcasts (opens in a new tab)">Apple Podcasts,</a>
    <a href="https://pca.st/cg90btkk" target="_blank" aria-label="pocket casts (opens in a new tab)">Pocket Casts,</a>
    <a href="https://radiopublic.com/ada-at-30-accessibility-in-pittsb-6LV45o" target="_blank" aria-label="RadioPublic (opens in a new tab)">RadioPublic,</a>
    <a href="https://adaat30.libsyn.com/rss" target="_blank" aria-label="RSS (opens in a new tab)">RSS,</a>
    <a href="https://open.spotify.com/show/4iEOcAoDNg8Mvo0MlHpR90" target="_blank" aria-label="Spotify (opens in a new tab)">Spotify,</a>
    <a href="https://www.stitcher.com/podcast/year-of-the-humanities/ada-at-30-accessibility-in-pittsburgh?refid=stpr" target="_blank" aria-label="Stitcher (opens in a new tab)">Stitcher</a>
  </p>

  <p>A shop owner wanted Damitra Penny and her wheelchair out of the store. At least Penny was in Pittsburgh, not Switzerland. Many disability advocates list Europe as one of the worst places to get around. The Pittsburgh area this podcast explores has aging infrastructure, hills aplenty and three rivers slicing up the Downtown from its shoreline ballparks and its bar district. The personal trials and public responses where the wheelchair hits the road are featured in this show.</p>

  <p>Hosts and Guests: Analysts Josie Badger, healthcare ethicist, and Alisa Grishman, disability advocate. Additional stories about the world from a wheelchair from Jon Duvall and Damitra Penny. Reporters Tony Ganzer and Jennifer Szweda Jordan, Unabridged Press. Pittsburgh and Allegheny County disability coordinators Hillary Roman and Caylin Snyder.</p>

</div>
