<div class="one-third column">
  <img src="assets/img/43.3-work-la-1-sm.jpg" alt="Black and white photograph of a woman protesting. She’s holding a handmade sign that reads “Let us work”"/>
  <div id="podcast-caption" style="width:100%;">The ADA promised workplace accommodations, but not without a fight from disability activists. (Used by permission. © Tom Olin – Tom Olin Collection.)</div>
</div>

<div class="two-thirds column" id="podcast-desc">
  <!-- PODCAST -->
  <section aria-label="podcast player">
    <iframe title="podcast player" style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15150350/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/2d4583/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  </section>
  <div id="transcript-anchor"><a href="#transcript" aria-label="Jump to podcast transcript">
    <h3>Jump to podcast transcript</h3>
  </a></div>
  <p>
    <b>Subscribe on:</b> <a href="https://podcasts.apple.com/us/podcast/ada-at-30-accessibility-in-pittsburgh/id1522903903" target="_blank" aria-label="apple podcasts (opens in a new tab)">Apple Podcasts,</a>
    <a href="https://pca.st/cg90btkk" target="_blank" aria-label="pocket casts (opens in a new tab)">Pocket Casts,</a>
    <a href="https://radiopublic.com/ada-at-30-accessibility-in-pittsb-6LV45o" target="_blank" aria-label="RadioPublic (opens in a new tab)">RadioPublic,</a>
    <a href="https://adaat30.libsyn.com/rss" target="_blank" aria-label="RSS (opens in a new tab)">RSS,</a>
    <a href="https://open.spotify.com/show/4iEOcAoDNg8Mvo0MlHpR90" target="_blank" aria-label="Spotify (opens in a new tab)">Spotify,</a>
    <a href="https://www.stitcher.com/podcast/year-of-the-humanities/ada-at-30-accessibility-in-pittsburgh?refid=stpr" target="_blank" aria-label="Stitcher (opens in a new tab)">Stitcher</a>
  </p>

  <p>From anti-discrimination provisions to access, the Americans with Disabilities Act represented a civil rights milestone at its enactment in 1990. We've now had 30 years to see how the act has empowered our communities and made them more inclusive. But we've also had 30 years to see where the act may have fallen short.</p>

  <p>In this episode of ADA at 30: Accessibility in Pittsburgh, we’re joined by a lawyer who was 10 years into his legal career when the ADA was passed. It ushered in cases he pressed in labor and employment discrimination. Jay Hornack is now a Legal Committee member of Disability Rights Pennsylvania, a hearing officer for the Pennsylvania Office of Vocational Rehabilitation, and adjunct professor of disability discrimination law at the University of Pittsburgh's School of Law.</p>

  <p>Hosts and Guests: Analysts Josie Badger, healthcare ethicist, and Alisa Grishman, disability advocate. Reporter/producers Tony Ganzer and Jennifer Szweda Jordan, Unabridged Press. Jay Hornack, disability rights lawyer.</p>

</div>
