<div class="one-third column">
  <img src="assets/img/worship_3-alt.jpg" alt="Photograph of an older Black man in motorized wheelchair going up a ramp into the back of a church. A younger Black woman walks beside him, helping him inside."/>
  <div id="podcast-caption" style="width:100%;">Philip Russell and caretaker Alisa Martin use the wheelchair ramp on the side of the building to enter Homewood AME Zion Church on March 1, 2020. (Photo by Kimberly Rowen/PublicSource)</div>
</div>

<div class="two-thirds column" id="podcast-desc">
  <!-- PODCAST -->
  <section aria-label="podcast player">
    <iframe title="audio player" style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15219701/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/3a59a9/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  </section>
  <div id="transcript-anchor"><a href="/despite-ada-exemption-pittsburgh-houses-of-worship-highlight-accessibility-efforts-and-shortfalls#transcript" target="_blank" aria-label="Open podcast transcript (opens in new tab)">
    <h3>Open podcast transcript</h3>
  </a></div>

  <p>Listen to this Meg St-Espirit discuss how local places of worship are approaching accessibility for people with disabilities.</p>

  <p>Companion podcast to <a href="despite-ada-exemption-pittsburgh-houses-of-worship-highlight-accessibility-efforts-and-shortfalls" target="blank" aria-label="Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts — and remaining shortfalls (opens in new tab)">"Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts — and remaining shortfalls"</a></p>
</div>
