<section class="twelve colums" id="pre-footer">
  <!-- modify this form HTML and place wherever you want your form -->

  <form
    action="https://formspree.io/mlepwkvp"
    method="POST"
  >
  <label aria-label="Share comments or accessibility concerns">
    <h3 style="margin-left:0;">Share comments or accessibility concerns.</h3>
    <textarea name="message" aria-required="true"></textarea>
  </label><br />
    <label style="margin-top: -2rem; text-align: left;" aria-required="true" aria-label="email">
      Email (Required):<br />
      <input type="text" name="_replyto">
    </label>

    <!-- your other form fields go here -->

    <button type="submit" aria-label="Send (opens a new window)">Send</button>
  </form>
</section>
