<main>
  <% story.sections.forEach(function(section, i) { %>

  <!-- Story text -->
  <% if(section.type == "text"){ %>
    <div class="story-text">
      <%= t.renderMarkdown(story.sections[i].value) %>
    </div>

  <!-- Subhed -->
  <% }else if(section.type == "subhed"){ %>
    <h2 class="subhed">
      <%= section.value.text %>
    </h2>

  <!-- Pullquote -->
  <% }else if(section.type == "pullquote"){ %>
    <h2 class="story-pullquote">
      <%= section.value.text %>
    </h2>

  <!-- Interjection -->
  <% }else if(section.type == "interjection"){ %>
    <h2 class="story-interjection">
      <%= section.value.text %>
    </h2>

  <!-- Definition -->
  <% }else if(section.type == "definition"){ %>
    <div class="ui-pull-right">
      <div class="story-definition">
        <%= section.value.text %>
      </div>
    </div>

  <!-- Inline image -->
  <% }else if(section.type == "inline-img"){ %>
    <img class="inline-img" alt="<%= section.value.alt %>" src="<%= section.value.img %>" />
    <div class="story-caption">
      <p align="center"><%= section.value.caption %></p>
    </div>

  <% } %>
  <% }); %>
</main>
