<script type="text/javascript">
  var _userway_config = {
    /* uncomment the following line to override default position*/
     position: '3',
    /* uncomment the following line to override default size (values: small, large)*/
    /* size: 'large', */
    /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
    /* language: 'en-US', */
    /* uncomment the following line to override color set via widget (e.g., #053f67)*/
    color: '#2d68ff',
    /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
    type: '4',
    /* uncomment the following lines to override the accessibility statement*/
    /* statement_text: "Our Accessibility Statement", */
    statement_url: "adapittsburgh.com/about.html",
    /* uncomment the following line to override support on mobile devices*/
    mobile: true,
    account: 'ekf7rEr3TJ'
  };
</script>
<script type="text/javascript" src="https://cdn.userway.org/widget.js" style="top:0;bottom:0;right:0;left:0;"></script>
