#story-intro {
  margin: 3rem auto;
}

#story-date {
  .mallory();
  text-transform: uppercase;
}

h1#story-headline {
  font-size: 8rem;
  margin: 2rem 0;
}

#story-byline {
  .mallory();
  font-size: 4rem;
  color: @links-red;
  font-weight: bold;
}
