#story-intro {
  margin: 5rem auto;
}

#story-date {
  .mallory();
  text-transform: uppercase;
}

h1#story-headline {
  font-size: 7.5rem;
  margin: 2rem 0;
  @media @mobile-above {
    font-size: 5.5rem;
  }
  @media @mobile {
    font-size: 4rem;
  }
}

#story-byline {
  .mallory();
  font-size: 3.5rem;
  color: @links-red;
  font-weight: bold;
  @media @mobile-above {
    font-size: 3rem;
  }
  @media @mobile {
    font-size: 2.5rem;
  }
}

#lead-image {
  margin-bottom: 3rem;
  @media @mobile {
    margin-bottom: 1rem;
  }
}
