.spacer {
  width: 100%;
  background: transparent;
  height: 3rem;
}

#intro {
  margin-top: 3rem;
}

#intro #intro-desc {
  max-width: 60%;
}

.index-headline {
  .mallory();
  color: #000;
  font-size: 2.7rem;
  font-weight: 700;
  border-bottom: .75rem solid @highlight-yellow;
  display: inline-block;
  padding-top: .5rem;
  line-height: 1.2;
  position: relative;
}

.index-byline {
  .mallory();
  color: @links-red;
  font-size: 2rem;
  display: block;
  padding-top: 1rem;
}

.index-quote {
  width: 100%;
  background-color: @highlight-blue;
  padding: 4rem 2rem;
}

.index-quote .index-quote-text {
  line-height: 1.3;
  width: 80%;
  text-align: center;
  margin: auto;
}
