.spacer {
  width: 100%;
  background: transparent;
  height: 3rem;
}

#intro {
  margin-top: 3rem;
}

#intro #intro-desc {
  max-width: 60%;
}

.index-headline {
  .mallory();
  color: #000;
  font-size: 3rem;
  font-weight: 700;
  border-bottom: .75rem solid @highlight-yellow;
  display: inline-block;
}

.index-byline {
  .mallory();
  color: @links-red;
  font-size: 2rem;
  display: block;
  padding-top: 1rem;
}
