.story-text {
  width: 48%;
  margin-left: 26%;
  @media @mobile-above {
    width: 90%;
    margin-left: 5%;
  }
}

.story-text .highlight {
  background: @highlight-yellow;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.25px;
}

#subhead {
  margin-left: 26%;
  margin-top: 5rem;
  width: 48%;
  @media @mobile-above {
    width: 90%;
    margin-left: 5%;
  }
}

.story-pullquote,
.story-interjection {
  .futura();
  padding: 3.5rem 1rem;
  box-sizing: border-box;
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: left;
  width: 48%;
  @media @mobile-above {
    width: 90%;
    font-size: 3rem;
    padding: 2rem;
  }
}

.story-pullquote {
  border-top: .5rem solid @highlight-blue;
  border-bottom: .5rem solid @highlight-blue;
  margin-left: 39.3333333333%;
  @media @mobile-above {
    margin: 5rem 0 5rem 5%;
  }
}

.story-interjection {
  border-top: .5rem solid @highlight-yellow;
  border-bottom: .5rem solid @highlight-yellow;
  box-sizing: border-box;
  z-index: 99999;
  margin-left: 8.66666666667%;
  margin-right: 26%;
  @media @mobile-above {
    margin: 5rem 0 5rem 5%;
  }
}

.story-definition {
  background: @highlight-yellow;
  position: relative;
  float: right;
  box-sizing: border-box;
  color: #fff;
  font-weight: 600;
  width: 20%;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.inline-img {
  width: 95%;
  margin: 1rem 2.5%;
  @media @mobile-above {
    width: 100%;
    margin: 0;
  }
}

.story-caption {
  margin: -0.5rem 2.5%;
  color: #777;
  font-size: 1.5rem;
  max-width: 80%;
  margin: auto;
  text-align: left;
}
