.story-text {
  overflow-x: hidden;
  width: 56.6666666667%;
  margin: auto;
  @media @mobile {
    width: 90%;
  }
}

.story-text .highlight {
  background: @highlight-yellow;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.25px;
}

.story-pullquote,
.story-interjection {
  .futura();
  padding: 2rem 3rem;
  box-sizing: border-box;
  font-size: 4rem;
  line-height: 1.2;
  width: 56.6666666667%;
  margin-top: 1rem;
  margin-bottom: 3rem;
  @media @mobile {
    width: 90%;
    font-size: 3.5rem;
    padding: 2rem;
  }
}

.story-pullquote {
  background-color: @highlight-blue;
  margin-left: 39.3333333333%;
  @media @mobile {
    margin: 0 5% 2rem 5%;
  }
}

.story-interjection {
  background-color: #fff;
  border: 1rem solid @highlight-blue;
  box-sizing: border-box;
  z-index: 99999;
  margin-left: 4.66666666667%;
}

.story-definition {
  background: @highlight-yellow;
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  color: #fff;
  font-weight: 600;
  width: 20%;
  padding: 1rem;
  margin: 0;
}

.inline-img {
  width: 95%;
  margin: 1rem 2.5%;
  @media @mobile {
    width: 100%;
    margin: 0;
  }
}

.story-caption {
  margin: -0.5rem 2.5%;
  color: #777;
  font-size: 1.5rem;
  max-width: 80%;
  margin: auto;
  text-align: left;
}
