<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_analytics.html") %>
    <!-- imports all header info -->
    <!-- BEGIN TWITTER SUMMARY CARD -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts—and remaining shortfalls | ADA at 30: Accessibility in Pittsburgh">
   <meta name="twitter:site" content="@PublicSourcePA">
   <meta name="twitter:url" content="https://adapittsburgh.com/despite-ada-exemption-pittsburgh-houses-of-worship-highlight-accessibility-efforts-and-shortfalls">
   <meta name="twitter:image" content="https://adapittsburgh.com/assets/img/worship_1.jpg">
   <meta name="twitter:description" content="A coalition of religious leaders successfully lobbied 30 years ago for places of worship to be exempt from the Americans with Disabilities Act [ADA]. Many local faith leaders have since worked to make practices and spaces welcoming for congregants of all abilities, but challenges to accessibility remain.">

   <!-- Social sharing meta -->
   <meta property="og:type" content="article">
   <meta property="og:title" content="Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts—and remaining shortfalls">
   <meta property="og:site_name" content="ADA at 30: Accessibility in Pittsburgh">
   <meta property="og:url" content="https://adapittsburgh.com/despite-ada-exemption-pittsburgh-houses-of-worship-highlight-accessibility-efforts-and-shortfalls">
   <meta property="og:image" content="https://adapittsburgh.com/assets/img/worship_1.jpg">
   <meta property="og:description" content="A coalition of religious leaders successfully lobbied 30 years ago for places of worship to be exempt from the Americans with Disabilities Act [ADA]. Many local faith leaders have since worked to make practices and spaces welcoming for congregants of all abilities, but challenges to accessibility remain.">

    <%= t.include("partials/_head.html", grunt.data.json) %>
    <title>Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts — and remaining shortfalls | ADA at 30: Accessibility in Pittsburgh</title>

  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- STORY INFO -->
    <div class="container" id="story-intro" style="overflow-x: hidden;">
      <div class="row">
        <div id="story-date">
            July 17, 2020
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <h1 id="story-headline">
            Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts — and remaining shortfalls
          </h1>
        </div>
      </div>
      <div class="row">
          <div id="story-byline">Meg St-Esprit</div>
      </div>
    </div>

    <!-- LEAD IMAGE -->
    <div class="ui-full-width" id="lead-image">
      <img src="/assets/img/worship_1-alt.jpg" alt="Photograph of a catholic priest delivering a sermon. He's inside a church in front of his congregation. In the background, a woman interprets his sermon in American Sign Language along with him."/>
      <div id="lead-caption">
          Diana Saunders interprets the sermon of Father Michael Stumpf into American Sign Language during a July 5, 2020 service at St. Mary of The Mount Catholic Church on Mount Washington. (Photo by Heather Mull/PublicSource)
      </div>
    </div>

    <a name="main-content" aria-hidden="true">
      <%= t.include("partials/_story.html", {'story': archieml.placesOfWorship}) %>
    </a>

    <section>
      <a name="transcript">
        <center>
          <h2 style="margin-bottom: 4rem;">Transcript</h2>
        </center>
      </a>
    </section>

    <%= t.include("partials/_story.html", {'story': archieml.podcastWorship}) %>

    <!-- Contact form -->
    <section role="contact form" style="margin-top: 2rem;">
      <div class="inline">
        <%= t.include("partials/_preFooter.html") %>
      </div>
    </section>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
  </body>
</html>
