<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <main class="container">
      <%= t.include("partials/_main-nav.html") %>

      <div class="spacer"></div>

      <center id="intro">
        <h1>Introduction Text</h1>
        <h2 id="intro-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        </h2>
      </center>

      <div class="spacer"></div>

      <div class="row">
        <div class="one-third column">
            <img src="https://via.placeholder.com/566x706?text=LEAD-IMAGE" />
            <div class="index-headline">Personal Essay</div>
            <div class="index-byline">Essayist & Jorna List</div>
        </div>
        <div class="two-thirds column">
          <img src="https://via.placeholder.com/1200x706?text=VIDEO" />
          <div class="index-headline">Video Title</div>
        </div>
      </div>

      <div class="row">
      </div>

      <div class="spacer"></div>

    </main>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>

  </body>
</html>
