<!doctype html>
<html lang="en-US">
  <head>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <!-- imports main stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- BEGIN LANDING PAGE CONTENT -->

    <!-- placeholder for the video -->
    <div class="ui-full-width">
        <div style="height: 720px; background: black;"></div>
    </div>

    <main class="container">

      <div class="spacer"></div>

      <!-- begin intro text -->
      <center id="intro">
        <h1>Introduction Text</h1>
        <h2 id="intro-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        </h2>
      </center>

      <div class="spacer"></div>

      <!-- BEGIN STORIES -->
      <!-- row 1 -->
      <div class="row">
        <article class="one-third column">
          <a href="/">
            <img src="https://via.placeholder.com/566x706?text=LEAD-IMAGE" />
            <div class="index-headline">Personal Essay that someone wrote for us</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Essayist & Jorna List</div>
        </article>
        <article class="two-thirds column">
          <a href="/">
            <img src="https://via.placeholder.com/1200x706?text=VIDEO" />
            <div class="index-headline">Video Title</div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
        </article>
      </div>

      <div class="spacer"></div>

      <!-- row 2 -->
      <div class="row">
        <article class="one-third column">
          <a href="/">
            <img src="https://via.placeholder.com/566x390?text=LEAD-IMAGE" />
            <div class="index-headline">Story Headline</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Journa List</div>
        </article>
        <article class="one-third column">
          <a href="/">
            <img src="https://via.placeholder.com/566x390?text=LEAD-IMAGE" />
            <div class="index-headline">Story Headline that someone made very
              long because we have to account for that</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Journa List</div>
        </article>
        <article class="one-third column">
          <a href="/">
            <img src="https://via.placeholder.com/566x390?text=LEAD-IMAGE" />
            <div class="index-headline">Story Headline of a reasonable length</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Journa List</div>
        </article>
      </div>

    </main>

    <!-- first blue quote box -->
    <aside class="ui-full-width">
      <div class="index-quote">
          <h2 class="index-quote-text">
            “This is a quote from one of our pieces, or something that
            provides additional context for the impact of the ADA.”
          </h2>
      </div>
    </aside>

    <div class="spacer"></div>

    <main class="container">

      <!-- row 3 -->
      <div class="row">
        <article class="one-third column">
          <a href="/">
            <img src="https://via.placeholder.com/566x390?text=LEAD-IMAGE" />
            <div class="index-headline">Story Headline</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Journa List</div>
        </article>
        <article class="one-third column">
          <a href="/">
            <img src="https://via.placeholder.com/566x390?text=LEAD-IMAGE" />
            <div class="index-headline">Story Headline that someone made very
              long because we have to account for that</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Journa List</div>
        </article>
        <article class="one-third column">
          <a href="/">
            <img src="https://via.placeholder.com/566x390?text=LEAD-IMAGE" />
            <div class="index-headline">Story Headline of a reasonable length</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Journa List</div>
        </article>
      </div>

      <div class="row">
        <aside class="index-quote"></aside>

      </div>

    </main>
    <!-- END STORIES -->

    <div class="spacer"></div>
    <!-- END LANDING PAGE CONTENT -->

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>

  </body>
</html>
