<!doctype html>
<html lang="en-US">
  <head>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <!-- imports main stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- STORY INFO -->
    <div class="container" id="story-intro" style="overflow-x: hidden;">
      <div class="row">
        <div id="story-date">
            July 13, 2020
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <h1 id="story-headline">Introduction</h1>
        </div>
      </div>
      <div class="row">
          <div id="story-byline">Ryan Loew, Unabridged Press, various</div>
      </div>
    </div>

    <!-- VIDEO -->
    <div class="ui-full-width" id="lead-image">
      <video width="100%" height="55%" controls
      alt="An introductory video featuring a number of speakers with different disabilities.">
        <source src="assets/video/ADA_Voices_Video.mp4" type="video/mp4">
        Your browser does not support this video.
      </video>
    </div>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>

  </body>
</html>
