<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_analytics.html") %>
    <!-- BEGIN TWITTER SUMMARY CARD -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="Pittsburgh lawyer shares how the ADA equips people with disabilities to fight for their rights | ADA at 30: Accessibility in Pittsburgh">
   <meta name="twitter:site" content="@PublicSourcePA">
   <meta name="twitter:url" content="https://adapittsburgh.com/podcast-episode-two-pittsburgh-laywer-shares-how-ada-equips-people-with-disabilities-to-fight-for-labor-rights">
   <meta name="twitter:image" content="https://adapittsburgh.com/assets/img/43.3-work-la-1-sm.jpg">
   <meta name="twitter:description" content="In this episode of ADA at 30: Accessibility in Pittsburgh, we’re joined by a lawyer who was 10 years into his legal career when the ADA was passed. It ushered in cases he pressed in labor and employment discrimination.">

   <!-- Social sharing meta -->
   <meta property="og:type" content="article">
   <meta property="og:title" content="Pittsburgh lawyer shares how the ADA equips people with disabilities to fight for their rights">
   <meta property="og:site_name" content="ADA at 30: Accessibility in Pittsburgh">
   <meta property="og:url" content="https://adapittsburgh.com/podcast-episode-two-pittsburgh-laywer-shares-how-ada-equips-people-with-disabilities-to-fight-for-labor-rights">
   <meta property="og:image" content="https://adapittsburgh.com/assets/img/43.3-work-la-1-sm.jpg">
   <meta property="og:description" content="In this episode of ADA at 30: Accessibility in Pittsburgh, we’re joined by a lawyer who was 10 years into his legal career when the ADA was passed. It ushered in cases he pressed in labor and employment discrimination.">

    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <title>Pittsburgh lawyer shares how the ADA equips people with disabilities to fight for their rights | ADA at 30: Accessibility in Pittsburgh</title>

    <!-- imports main stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- STORY INFO -->
    <section class="container" id="story-intro" style="overflow-x: hidden;">
      <div class="row">
        <div id="story-date">
            July 15, 2020
        </div>
      </div>
      <div class="row">
        <div class="ten columns"><a name="main-content" aria-hidden="true"></a>
          <h1 id="story-headline">Podcast episode 2: Pittsburgh lawyer shares how the ADA equips people with disabilities to fight for their rights</h1>
        </div>
      </div>
      <!--  <div class="row">
          <div id="story-byline">Josie, Unabridged Press</div>
      </div>-->

      <!-- PODCAST INFO -->
      <section class="row" id="podcast-info">
        <%= t.include("partials/_podcastTwo.html") %>
      </section>
    </section>

    <section>
      <a name="transcript">
        <center>
          <h2 style="margin-bottom: 4rem;">Transcript</h2>
        </center>
      </a>
    </section>

    <%= t.include("partials/_story.html", {'story': archieml.podcastTwo}) %>

    <!-- Contact form -->
    <section role="contact form" style="margin-top: 2rem;">
      <div class="inline">
        <%= t.include("partials/_preFooter.html") %>
      </div>
    </section>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
  </body>
</html>
