<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_analytics.html") %>
    <!-- imports all header info -->

    <title>ADA at 30: Accessibility in Pittsburgh</title>

  <!-- BEGIN TWITTER SUMMARY CARD -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="Podcast | ADA at 30: Accessibility in Pittsburgh">
   <meta name="twitter:site" content="@PublicSourcePA">
   <meta name="twitter:url" content="https://adapittsburgh.com/podcast">
   <meta name="twitter:image" content="https://adapittsburgh.com/assets/img/jsjpick_crawl_org.jpg">
   <meta name="twitter:description" content="“Let the shameful wall of exclusion come tumbling down.” As the Americans with Disabilities Act of 1990 was signed, President George H.W. Bush spoke those words. If you live long enough, you’ll develop a disability—if you don’t already have one. The 30-year-old act promises that despite that, you’ll easily cross streets, hold a job and live as independently as possible. How’s that working for us?">

   <!-- Social sharing meta -->
   <meta property="og:type" content="article">
   <meta property="og:title" content="Podcast">
   <meta property="og:site_name" content="ADA at 30: Accessibility in Pittsburgh">
   <meta property="og:url" content="https://adapittsburgh.com/podcast">
   <meta property="og:image" content="https://adapittsburgh.com/assets/img/jsjpick_crawl_org.jpg">
   <meta property="og:description" content="“Let the shameful wall of exclusion come tumbling down.” As the Americans with Disabilities Act of 1990 was signed, President George H.W. Bush spoke those words. If you live long enough, you’ll develop a disability—if you don’t already have one. The 30-year-old act promises that despite that, you’ll easily cross streets, hold a job and live as independently as possible. How’s that working for us?">

   <%= t.include("partials/_head.html", grunt.data.json) %>
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- BEGIN STORY GRID CONTENT -->

    <main class="container">

      <div class="spacer" aria-hidden="true"></div>

      <!-- begin intro text -->
      <div class="row">
        <section class="podcast-page ten columns offset-by-one">
          <img src="assets/img/podcast_album-18.jpg" />

          <h4 class="desc">“Let the shameful wall of exclusion come tumbling down.” As the Americans with Disabilities Act of 1990 was signed, President George H.W. Bush spoke those words. If you live long enough, you’ll develop a disability—if you don’t already have one. The 30-year-old act promises that despite that, you’ll easily cross streets, hold a job and live as independently as possible. How’s that working for us?<br /><br />This five-part podcast brings  Pittsburgh-area people with disabilities finding their place in towns, stores and faith communities. The program is produced by PublicSource in collaboration with Unabridged Press and supported by The FISA Foundation. The Center for Media Innovation at Point Park University provided technical assistance.</h4>
            <div style="clear:both" aria-hidden="true"></div>

            <h4 align="center">
              <b>Subscribe on:</b> <a href="https://podcasts.apple.com/us/podcast/ada-at-30-accessibility-in-pittsburgh/id1522903903" target="_blank" aria-label="apple podcasts (opens in a new tab)">Apple Podcasts,</a>
              <a href="https://pca.st/cg90btkk" target="_blank" aria-label="pocket casts (opens in a new tab)">Pocket Casts,</a>
              <a href="https://radiopublic.com/ada-at-30-accessibility-in-pittsb-6LV45o" target="_blank" aria-label="RadioPublic (opens in a new tab)">RadioPublic,</a>
              <a href="https://adaat30.libsyn.com/rss" target="_blank" aria-label="RSS (opens in a new tab)">RSS,</a>
              <a href="https://open.spotify.com/show/4iEOcAoDNg8Mvo0MlHpR90" target="_blank" aria-label="Spotify (opens in a new tab)">Spotify,</a>
              <a href="https://www.stitcher.com/podcast/year-of-the-humanities/ada-at-30-accessibility-in-pittsburgh?refid=stpr" target="_blank" aria-label="Stitcher (opens in a new tab)">Stitcher</a>
            </h4>

        </section>
        <HR class="ten columns offset-by-one">
      </div>
      <!-- BEGIN PODCASTS -->
      <!-- row 1 -->
      <section class="container" id="story-intro" style="overflow-x: hidden;">
        <div class="row"><a name="main-content" aria-hidden="true"></a>
          <div id="story-date">
              July 13, 2020
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <h2 style="padding-top: 1rem; border: 0;">Podcast episode 1: How does accessibility in the Pittsburgh region compare to other areas?</h2>
            <div class="index-headline-border" style="width:33%; margin-top: -1rem;"></div>
          </a></div>
        </div>

        <!-- PODCAST EPISODE ONE -->
        <section class="row" id="podcast-info">
          <div class="one-third column">
            <img src="assets/img/jsjpick_crawl_org.jpg" alt="Black and white photograph of two disability rights activists. They are climbing the 83 steps up capitol hill. The photograph is shot from a low angle. In front, an activist is sitting and using their hands to push themself up the stairs backwards. In the background, another activist is crawling on his hands and knees."/>
            <div id="podcast-caption" style="width:100%;">More than 60 activists climbed the 83 steps of the U.S. Capitol March 12, 1990, to urge Congress to pass the Americans with Disabilities Act. (Used by permission. © Tom Olin – Tom Olin Collection.)</div>
          </div>

          <div class="two-thirds column" id="podcast-desc">
            <!-- PODCAST -->
            <section aria-label="podcast player">
              <iframe title="podcast player" style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15144992/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/3a59a9/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </section>
            <div id="transcript-anchor"><a href="/podcast-episode-one-how-does-accessibility-in-pittsburgh-compare-to-other-areas#transcript" target="_blank" aria-label="Open podcast transcript (opens new window)">
              <h3>Open podcast transcript</h3>
            </a></div>

            <p>A shop owner wanted Damitra Penny and her wheelchair out of the store. At least Penny was in Pittsburgh, not Switzerland. Many disability advocates list Europe as one of the worst places to get around. The Pittsburgh area this podcast explores has aging infrastructure, hills aplenty and three rivers slicing up the Downtown from its shoreline ballparks and its bar district. The personal trials and public responses where the wheelchair hits the road are featured in this show.</p>

            <p>Hosts and Guests: Analysts Josie Badger, healthcare ethicist, and Alisa Grishman, disability advocate. Additional stories about the world from a wheelchair from Jon Duvall and Damitra Penny. Reporters Tony Ganzer and Jennifer Szweda Jordan, Unabridged Press. Pittsburgh and Allegheny County disability coordinators Hillary Roman and Caylin Snyder.</p>

          </div>
        </section>
      </section>

      <HR class="ten columns offset-by-one">

      <!-- PODCAST EPISODE TWO -->
      <section class="container" id="story-intro" style="overflow-x: hidden;">
        <div class="row">
          <div id="story-date">
              July 15, 2020
          </div>
        </div>
        <div class="row">
          <div class="ten columns">
            <h2 style="padding-top: 1rem; border: 0;">Podcast episode 2: Pittsburgh lawyer shares how the ADA equips people with disabilities to fight for their rights</h2>
            <div class="index-headline-border" style="width:33%; margin-top: -1rem;"></div>
          </div>
        </div>

        <!-- PODCAST INFO -->
        <section class="row" id="podcast-info">
          <div class="one-third column">
            <img src="assets/img/43.3-work-la-1-sm.jpg" alt="Black and white photograph of a woman protesting. She’s holding a handmade sign that reads “Let us work”"/>
            <div id="podcast-caption" style="width:100%;">The ADA promised workplace accommodations, but not without a fight from disability activists. (Used by permission. © Tom Olin – Tom Olin Collection.)</div>
          </div>

          <div class="two-thirds column" id="podcast-desc">
            <!-- PODCAST -->
            <section aria-label="podcast player">
              <iframe title="podcast player" style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15150350/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/2d4583/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </section>
            <div id="transcript-anchor"><a href="/podcast-episode-two-pittsburgh-laywer-shares-how-ada-equips-people-with-disabilities-to-fight-for-labor-rights#transcript" target="_blank" aria-label="Open podcast transcript (opens new window)">
              <h3>Open podcast transcript</h3>
            </a></div>

            <p>From anti-discrimination provisions to access, the Americans with Disabilities Act represented a civil rights milestone at its enactment in 1990. We've now had 30 years to see how the act has empowered our communities and made them more inclusive. But we've also had 30 years to see where the act may have fallen short.</p>

            <p>In this episode of ADA at 30: Accessibility in Pittsburgh, we’re joined by a lawyer who was 10 years into his legal career when the ADA was passed. It ushered in cases he pressed in labor and employment discrimination. Jay Hornack is now a Legal Committee member of Disability Rights Pennsylvania, a hearing officer for the Pennsylvania Office of Vocational Rehabilitation, and adjunct professor of disability discrimination law at the University of Pittsburgh's School of Law.</p>

            <p>Hosts and Guests: Analysts Josie Badger, healthcare ethicist, and Alisa Grishman, disability advocate. Reporter/producers Tony Ganzer and Jennifer Szweda Jordan, Unabridged Press. Jay Hornack, disability rights lawyer.</p>

          </div>
        </section>
      </section>

      <HR class="ten columns offset-by-one">

      <!-- PODCAST THREE -->
      <section class="container" id="story-intro" style="overflow-x: hidden;">
        <div class="row">
          <div id="story-date">
              July 17, 2020
          </div>
        </div>
        <div class="row">
          <div class="ten columns">
            <h2 style="padding-top: 1rem; border: 0;">Podcast episode 3: How inclusive are churches and other faith communities?</h2>
            <div class="index-headline-border" style="width:33%; margin-top: -1rem;"></div>
          </div>
        </div>

        <section class="row" id="podcast-info">
          <%= t.include("partials/_podcastThree.html") %>
        </section>
      </section>


      <HR class="ten columns offset-by-one">

      <!-- PODCAST FOUR -->
      <section class="container" id="story-intro" style="overflow-x: hidden;">
        <div class="row">
          <div id="story-date">
              July 17, 2020
          </div>
        </div>
        <div class="row">
          <div class="ten columns">
            <h2 style="padding-top: 1rem; border: 0;">Podcast episode 4: Three people with disabilities talk about how disability affected their faith</h2>
            <div class="index-headline-border" style="width:33%; margin-top: -1rem;"></div>
          </div>
        </div>

        <section class="row" id="podcast-info">
          <div class="one-third column">
            <img src="assets/img/Kumar_Temple.jpg" alt="Photograph of two Brown men stand with their arms around each other in front of a Hindu temple. Both are facing the camera. Puneet stands on the right with a big smile on his face."/>
            <div id="podcast-caption" style="width:100%;">Puneet Kumar (right), and his late father, visit the largest Hindu temple in North America, Radha Madhav Dham in Driftwood, Texas, in January 2017. Kumar tries to make sense of his muscular dystrophy diagnosis in light of his Hindu family’s belief in Karma. (Courtesy photo)</div>
          </div>

          <div class="two-thirds column" id="podcast-desc">
            <!-- PODCAST -->
            <section aria-label="podcast player">
              <iframe title="podcast player" style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15222950/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/3a59a9/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </section>
            <div id="transcript-anchor"><a href="/podcast-episode-four-three-people-with-disabilities-talk-about-how-disability-affected-their-faith#transcript" target="_blank" aria-label="Open podcast transcript (opens in new tab)">
              <h3>Open podcast transcript</h3>
            </a></div>

            <p>Religious traditions can offer mixed messages about disability. Just like for all believers, images and words from spiritual communities can provide encouragement, purpose and belonging. But sometimes disability adds baggage — blame, confusion and exclusion.</p>

            <p>In this podcast, two men share their understanding of their physical disabilities and higher powers. And a woman talks about how bipolar disorder led to her being a confirmed atheist. They share their stories in this episode of ADA at 30: Accessibility in Pittsburgh. This is a companion podcast to adapittsburgh.com, a collaboration between PublicSource and Unabridged Press.</p>
          </div>
        </section>
      </section>

      <HR class="ten columns offset-by-one">

      <!-- PODCAST FIVE -->
      <section class="container" id="story-intro" style="overflow-x: hidden;">
        <div class="row">
          <div id="story-date">
              July 20, 2020
          </div>
        </div>
        <div class="row">
          <div class="ten columns">
            <h2 style="padding-top: 1rem; border: 0;">Podcast episode 5: Sisters walk together through mental, physical disabilities</h2>
            <div class="index-headline-border" style="width:33%; margin-top: -1rem;"></div>
          </div>
        </div>

        <section class="row" id="podcast-info">
          <div class="one-third column">
            <img src="assets/img/sister_1.jpg" alt="Two Black women smile at the camera and stand side by side in a beauty studio. One wears a shirt that says 'humankind be kind' and the other's shirt says 'created with a purpose'."/>
            <div id="podcast-caption" style="width:100%;">Alana Gibbs (left) and her sister Darah Thompson at Alana's full-service salon, Hair 2 Sole Beauty Studio in Bridgeville, Pa. (Photo by Jay Manning/PublicSource)</div>
          </div>

          <div class="two-thirds column" id="podcast-desc">
            <!-- PODCAST -->
            <section aria-label="podcast player">
              <iframe title="podcast player" style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15237713/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/3a59a9/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            <div id="transcript-anchor"><a href="/podcast-episode-five-sisters-walk-together-through-mental-phyiscal-disabilities#transcript" aria-label="Open podcast transcript (opens in new tab)">
              <h3>Open podcast transcript</h3>
            </a></div>

            <p>A New York Fashion Week manicurist and salon owner finds herself with new professional challenges when she’s diagnosed with multiple sclerosis. Her sister has seen her own career and relationships derailed by bipolar disorder. The women walk together, and some days are better than others. They share their stories in this episode of ADA at 30: Accessibility in Pittsburgh.</p>

            <p>This is a companion podcast to adapittsburgh.com, a collaboration between PublicSource and Unabridged Press.</p>
          </div>
        </section>
      </section>

    </main>

    <div class="spacer" aria-hidden="true"></div>
    <!-- END PODCAST CONTENT -->

    <!-- Contact form -->
    <section role="contact form" style="margin-top: 2rem;">
      <div class="inline">
        <%= t.include("partials/_preFooter.html") %>
      </div>
    </section>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
    <script data-account="ZEQU4bRA7Q" src="https://cdn.userway.org/widget.js"></script>
  </body>
</html>
