<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_analytics.html") %>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <title>ADA at 30: Accessibility in Pittsburgh</title>

  <!-- BEGIN TWITTER SUMMARY CARD -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="Stories | ADA at 30: Accessibility in Pittsburgh">
   <meta name="twitter:site" content="@PublicSourcePA">
   <meta name="twitter:url" content="https://adapittsburgh.com/stories">
   <meta name="twitter:image" content="https://adapittsburgh.com/assets/img/video_thumbnail.jpg">
   <meta name="twitter:description" content="The Americans with Disabilities Act was signed into law on July 26, 1990. For this anniversary project, we set out to learn: How has the ADA changed life for Pittsburghers with disabilities? And what progress still needs to be made 30 years later? Here’s what we found out.">

   <!-- Social sharing meta -->
   <meta property="og:type" content="article">
   <meta property="og:title" content="Stories">
   <meta property="og:site_name" content="ADA at 30: Accessibility in Pittsburgh">
   <meta property="og:url" content="https://adapittsburgh.com/stories">
   <meta property="og:image" content="https://adapittsburgh.com/assets/img/video_thumbnail.jpg">
   <meta property="og:description" content="The Americans with Disabilities Act was signed into law on July 26, 1990. For this anniversary project, we set out to learn: How has the ADA changed life for Pittsburghers with disabilities? And what progress still needs to be made 30 years later? Here’s what we found out.">
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- BEGIN STORY GRID CONTENT -->

    <main class="container" id="story-grid"><a name="main-content" aria-hidden="true"></a>

      <div class="spacer" aria-hidden="true"></div>

      <!-- begin intro text -->
      <center id="intro">
        <h1>All Stories</h1>
      </center>

      <div class="spacer" aria-hidden="true"></div>

      <!-- BEGIN STORIES -->
      <!-- row 1 -->
      <section class="row">
        <article class="one-third column">
          <a href="its-not-easy-being-a-black-man-on-the-autism-spectrum" aria-label="First person: It’s not easy being a Black man on the autism spectrum">
            <img src="assets/img/smith_1-alt.jpg" alt="Photograph of essay author Joseph Vernon Smith. He is a Black man standing with his arms crossed looking at the camera. He wears a face mask and a Giant Eagle staff t-shirt that says proud to be your neighbor."/>
            <div class="index-headline">
              First person: It’s not easy being a Black man on the autism spectrum
            </div>
            <div class="index-headline-border"></div>
            <div class="index-byline">Joseph Vernon Smith</div>
          </a>
        </article>
        <article class="one-third column">
          <a href="podcast-episode-five-sisters-walk-together-through-mental-phyiscal-disabilities" aria-label="Podcast episode 5: Sisters walk together through mental, physical disabilities">
            <img src="assets/img/sisters_1-alt.jpg" alt="Two Black women smile at the camera and stand side by side in a beauty studio. One wears a shirt that says 'humankind be kind' and the other's shirt says 'created with a purpose'."/>
            <div class="index-headline">
              Podcast episode 5: Sisters walk together through mental, physical disabilities
            </div>
            <div class="index-headline-border"></div>
          </a>
            <!-- <div class="index-byline">Francesca Dabecco</div> -->
        </article>
        <article class="one-third column">
          <a href="academias-narrow-gates-people-with-disabilities-should-not-be-deterred-from-higher-education" aria-label="First person: Academia’s narrow gates: People with disabilities should not be deterred from higher ed">
            <img src="assets/img/Dylan-alt.jpg" alt="Two Black women smile at the camera and stand side by side in a beauty studio. One wears a shirt that says 'humankind be kind' and the other's shirt says 'created with a purpose'."/>
            <div class="index-headline">
              First person: Academia’s narrow gates: People with disabilities should not be deterred from higher ed
            </div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Dylan Kapit</div>
        </article>
      </section>
    </main>

    <aside class="ui-full-width">
      <div class="index-quote">
        <a href="despite-ada-exemption-pittsburgh-houses-of-worship-highlight-accessibility-efforts-and-shortfalls" aria-label="We haven’t honestly been to church in a year, between his changing needs and the pandemic. A lot of it, too, is finding a place where the whole family fits in, and that’s the hardest part. (opens in new tab)">
          <h3 class="index-quote-text">
            “We haven’t honestly been to church in a year, between his changing needs and the pandemic. A lot of it, too, is finding a place where the <i>whole</i> family fits in, and that’s the hardest part.”
          </h3>
        </a>
      </div>
    </aside>

    <main class="container" id="story-grid">

      <!-- row 2 -->
      <section class="row">
        <article class="three columns">
          <a href="podcast-episode-four-three-people-with-disabilities-talk-about-how-disability-affected-their-faith" aria-label="Podcast episode 4: Three people with disabilities talk about how disability affected their faith">
            <img src="assets/img/Kumar_Temple-alt.jpg" alt="Photograph of two Brown men stand with their arms around each other in front of a Hindu temple. Both are facing the camera. Puneet stands on the right with a big smile on his face."/>
            <div class="index-headline">
              Podcast episode 4: Three people with disabilities talk about how disability affected their faith
            </div>
            <div class="index-headline-border"></div>
            <!-- <div class="index-byline">Catherine Getchell</div> -->
          </a>
        </article>
        <article class="one-half column">
          <a href="despite-ada-exemption-pittsburgh-houses-of-worship-highlight-accessibility-efforts-and-shortfalls" aria-label="Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts—and remaining shortfalls">
            <img src="assets/img/worship_1-alt.jpg" alt="Photograph of a catholic priest delivering a sermon. He's inside a church in front of his congregation. In the background, a woman interprets his sermon in American Sign Language along with him."/>
            <div class="index-headline">
              Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts—and remaining shortfalls
            </div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
            <div class="index-byline">Meg St-Esprit</div>
        </article>

        <article class="three columns">
          <a href="when-will-the-americans-with-disabilities-act-evolve-to-the-digital-age" aria-label="First person: When will the Americans with disabilities act evolved to the digital age?">
            <img src="assets/img/catherine_2.JPG" alt="Photograph of essay author Catherine Getchell, a blind woman wearing a blue suit. She is standing in her backyard with her guide dog."/>
            <div class="index-headline">
              First person: When will the Americans with Disabilities Act evolve to the digital age?
            </div>
            <div class="index-headline-border"></div>
            <div class="index-byline">Catherine Getchell</div>
          </a>
        </article>
      </section>
    </main>

    <!-- quote one -->
    <aside class="ui-full-width">
      <div class="index-quote">
        <a href="when-will-the-americans-with-disabilities-act-evolve-to-the-digital-age" aria-label="links to the story this quote is from" aria-label="Now that digital content is so heavily integrated into all of our daily lives and livelihoods, lack of digital accessibility has huge financial and other implications for us... (opens in new tab)">
          <h3 class="index-quote-text">
            "Now that digital content is so heavily integrated into all of our daily lives and livelihoods, lack of digital accessibility has huge financial and other implications for us..."
          </h3>
        </a>
      </div>
    </aside>

    <main class="container" id="story-grid">

        <!-- row 3 -->
      <div class="row">
        <article class="three columns">
          <a href="podcast-episode-one-how-does-accessibility-in-pittsburgh-compare-to-other-areas" aria-label="Podcast episode 1: How does accessibility in the Pittsburgh region compare to other areas?">
            <img src="assets/img/jsjpick_crawl.jpg" alt="Black and white photograph of two disability rights activists. They are climbing the 83 steps up capitol hill. The photograph is shot from a low angle. In front, an activist is sitting and using their hands to push themself up the stairs backwards. In the background, another activist is crawling on his hands and knees."/>
            <div class="index-headline">Podcast episode 1: How does accessibility in the Pittsburgh region compare to other areas?</div>
            <div class="index-headline-border"></div>
          </a>
        </article>

        <article class="one-half column">
          <a href="voters-with-disabilities-are-accustomed-to-obstacles-how-will-covid-19-impact-accessibility" aria-label="Voters with disabilities are accustomed to obstacles. How will COVID-19 impact accessibility?">
            <img src="assets/img/voting_1-alt2.jpg" alt="Photograph of a row of ballot scanning machines."/>
              <div class="index-headline">
                Voters with disabilities are accustomed to obstacles. How will COVID-19 impact accessibility?
              </div>
              <div class="index-headline-border" style="width:25%"></div>
            </a>
          <div class="index-byline">Matt Petras</div>
        </article>

        <article class="three columns">
          <a href="podcast-episode-two-pittsburgh-laywer-shares-how-ada-equips-people-with-disabilities-to-fight-for-labor-rights" aria-label="Pittsburgh lawyer shares how the ADA equips people with disabilities to fight for their rights">
            <img src="assets/img/43.3-work-la-1-sm-alt.jpg" alt="Black and white photograph of a woman protesting. She’s holding a handmade sign that reads “Let us work”"/>
              <div class="index-headline">
                Podcast episode 2: Pittsburgh lawyer shares how the ADA equips people with disabilities to fight for their rights
              </div>
              <div class="index-headline-border"></div>
            </a>
            <div class="index-byline" aria-hidden="true"></div>
        </article>
      </div>
    </main>

    <section class="ui-full-width">
      <div class="index-quote">
        <a href="voters-with-disabilities-are-accustomed-to-obstacles-how-will-covid-19-impact-accessibility" aria-label="links to the story this quote is from" aria-label="I obviously had to get one of the people working the polling location to help me...it was just kind of an extra step that I would have rather been able to do independently. (opens in new tab)">
          <h3 class="index-quote-text">“I obviously had to get one of the people working the polling location to help me...it was just kind of an extra step that I would have rather been able to do independently.”</h3>
        </a>
      </div>
    </section>

    <main class="container">

      <!-- row 4 -->
      <div class="row">
        <article class="one-half column">
            <a href="faces-of-the-law-the-americans-with-disabilities-act-in-pittsburgh-read-by-those-it-protect" aria-label="Faces of the law: The Americans with Disabilities Act read by those it protects">
              <img src="assets/img/video_thumbnail.jpg" alt="Composite video thumbnail of twelve different people with disabilites. Some are with their families. Some are signing. One has a bow and arrow, one has a cane, one is a a wheelchair, and one has a dog."/>
              <div class="index-headline">
                Faces of the law: The Americans with Disabilities Act read by those it protects
              </div>
              <div class="index-headline-border" style="width:25%"></div>
            </a>
            <div class="index-byline">Jennifer Szweda Jordan</div>
        </article>

        <article class="one-half column">
          <a href="without-tech-designed-for-people-with-disabilities-we-might-not-have-these-inventions" aria-label="Without tech designed for people with disabilities, we might not have these inventions">
            <img src="assets/img/segway_pittsburgh-alt.jpg" alt="Wide shot photograph of a line of people riding segways. They're crossing a bridge in Pittsburgh. Behind them is Downtown Pittsburgh."/>
            <div class="index-headline">
              Without tech designed for people with disabilities, we might not have these inventions
            </div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
            <div class="index-byline">Francesca Dabecco</div>
        </article>
      </div>

      <div class="spacer" aria-hidden="true"></div>

    </main>
    <!-- END STORIES -->

    <div class="spacer" aria-hidden="true"></div>
    <!-- END STORY GRID CONTENT -->

    <!-- Contact form -->
    <section role="contact form" style="margin-top: 2rem;">
      <div class="inline">
        <%= t.include("partials/_preFooter.html") %>
      </div>
    </section>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
    <script data-account="ZEQU4bRA7Q" src="https://cdn.userway.org/widget.js"></script>
  </body>
</html>
